<!-- <p-growl [(value)]="msgs" life="2000"></p-growl> -->
<div [@pageAnimation]="'in'">
  <my-breadcrumb name1="直播管理" name2="直播列表"></my-breadcrumb>
</div>

<div class="ui-g content" >
  <div *ngFor="let item of livelist ;let i=index" class="ui-g-12 ui-md-6 ui-lg-3 liveitem">
    <h3> {{item.title}}</h3>
    <p>{{item.name}}</p>
    <h5>{{item.time}}</h5>
    <h5>{{item.status}}</h5>
    <div class="introduce">{{item.introduce}}</div>
    <!-- <img class="myImg" src="assets/image/timg.jpeg"> -->
    <!-- <br><br> -->
    <button (click)="login()" pButton type="button" label ="进入详情"></button>
  </div>

</div>