<p-growl [(value)]="msgs" life="2000"></p-growl>

<div [@pageAnimation]="'in'">
  <my-breadcrumb name1="直播管理" name2="直播列表"></my-breadcrumb>
</div>

<div class="ui-g content" *ngIf="selectedType=='title'" >
  <div *ngFor="let item of livelist ;let i=index" class="ui-g-12 ui-md-6 ui-lg-3 ">
    <div class="liveitem">
        <h3> {{item.title}}</h3>
        <p>主讲人:{{item.doctorName}}</p>
        <h5>直播开始:{{item.startTime}}</h5>
        <p class="status" *ngIf="item.status==0">报名中</p>
        <p class="status" *ngIf="item.status==1">直播中</p>
        <p class="status" *ngIf="item.status==2">直播结束</p>
        <div class="content">{{item.comment}}</div>
        <button (click)="showliveinfo(item,i)" style="border:1px solid #f0f0f0;color:#000;background:#f0f0f0;" pButton type="button" label ="编辑直播"></button>
    </div>
   
  </div>

</div>

<p-dataList [value]="livelist" [paginator]="true" [rows]="5" *ngIf="selectedType=='list'">
        <ng-template let-car let-i="index" pTemplate="item">
            <div class="ui-g ui-fluid car-item">
                <div class="ui-g-12 ui-md-9 car-details">
                    <div class="ui-g">
                        <div class="ui-g-11 ui-sm-6">{{car.title}}</div>
                        <div class="ui-g-11 ui-sm-6">{{car.doctorName}}</div>
                        <div class="ui-g-11 ui-sm-6">{{car.startTime}}</div>
                        <div *ngIf="car.status==0" class="ui-g-11 ui-sm-6">报名中</div>
                        <div *ngIf="car.status==1" class="ui-g-11 ui-sm-6">正在直播</div>
                        <div *ngIf="car.status==2" class="ui-g-11 ui-sm-6">直播结束</div>
                        
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataList>

<p-dialog header="我的直播"  *ngIf="display" [(visible)]="display" modal="modal" width="800" [responsive]="true" [positionTop]="'60'">
  <div style="height:400px">
    <div class="dialog-item" >  
        <div class="ui-g">
            <div class="ui-g-12">
                <input id="title-input" type="text"  size="30" pInputText [(ngModel)]="liveinfo.title"> 
            </div>
        </div>
    </div>
    <div class="dialog-item" > 
        <div class="ui-g">
                <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-2">
                                <img style="width: 100px;overflow: hidden;" (click)="showLoginWindow()" [src]="userpic">
                        </div>
                        <div class="ui-g-6">
                            <h3>
                          {{this.realname}}
                            </h3>  
                        </div>
                </div>
        </div>
    </div>

  <div class="dialog-item" >  
    <div class="ui-g">
        <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12">
                <h3>直播概述</h3>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12">
                <textarea id="content-textarea" [(ngModel)]="liveinfo.comment" rows="8" cols="88" pInputTextarea autoResize="autoResize">
                </textarea>
        </div>
    </div>
  </div>
  
  <div class="dialog-item">
      <div class="ui-g">
          <div class="ui-g-12">
              <h3>课件</h3>
          </div>
          <div  *ngFor="let pic of piclist ; let i=index" class="ui-g-2 ui-md-6 ui-lg-2 dialog-item-pic"  >
                <span class="pic">
                <img style="width:100px" (click)="previewimg($event)" [src]="pic">
                    <button class="del "pButton type="button" (click)="delpic($event,i)" icon="fa-close"></button>
                </span>
              
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-2 dialog-item-pic"  >
              <img onclick="getElementById('file').click()" style="width:100px" title="点击添加图片" alt="点击添加图片" src="assets/img/uploadpic.jpg">
              <input (change)="imgOperate($event)"
               accept="image/jpeg,image/jpg,image/png,image/svg"  
               type="file" multiple="multiple" id="file" name='file'
               style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;"/>
          </div>
          <div class="ui-g-12">
              <span>（上传的课件需要图片格式（支持jpg，png），编辑课件后记得点击上传课件）</span>
          </div>
      </div>
      <div class="ui-g">
          <button class="upficbtn" (click)="uploadlivepiclist(liveinfo.liveId)" pButton type="button" label ="上传课件"></button>
      </div>
  </div>

</div>
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="update(liveinfo)" label="确认"></button>
    <!-- <button type="button" pButton icon="fa-close" (click)="close()" label="关闭"></button> -->
  </p-footer>
</p-dialog>