<p-growl [(value)]="msgs" life="2000"></p-growl>
<div [@pageAnimation]="'in'">
  <my-breadcrumb name1="直播管理" name2="直播列表"></my-breadcrumb>
</div>


<div  style="position:absolute;right: 20px;top:70px;">
<p-selectButton  [options]="types" [(ngModel)]="selectedType"></p-selectButton>
</div>

<div class="ui-g content" *ngIf="selectedType=='title'" >
  <div *ngFor="let item of livelist ;let i=index" class="ui-g-12 ui-md-6 ui-lg-3 ">
    <div class="liveitem">
        <h3> {{item.title}}</h3>
        <p>主讲人:{{item.doctorName}}</p>
        <h5>直播开始:{{item.startTime}}</h5>
        <h5 *ngIf="item.status==0">报名中</h5>
        <h5 *ngIf="item.status==1">直播中</h5>
        <h5 *ngIf="item.status==2">直播结束</h5>
        <!-- <textarea  rows="5" cols="30" [(ngModel)]="item.comment" readonly="readonly" pInputTextarea autoResize="autoResize">
        </textarea> -->
        <div class="content">{{item.comment}}</div>
        <button (click)="showliveinfo(item,i)" pButton type="button" label ="进入详情"></button>
    </div>
   
  </div>

</div>

<p-dataList [value]="livelist" [paginator]="true" [rows]="5" *ngIf="selectedType=='list'">
        <!-- <p-header>
            List of Cars
        </p-header> -->
        <ng-template let-car let-i="index" pTemplate="item">
            <div class="ui-g ui-fluid car-item">
                <!-- <div class="ui-g-12 ui-md-3" style="text-align:center">
                    <img src="assets/showcase/images/demo/car/{{car.brand}}.png">
                </div> -->
                <div class="ui-g-12 ui-md-9 car-details">
                    <div class="ui-g">
                        <!-- <div class="ui-g-1 ui-sm-6">标题: </div> -->
                        <div class="ui-g-11 ui-sm-6">{{car.title}}</div>
                        
                        <!-- <div class="ui-g-1 ui-sm-6">主讲人: </div> -->
                        <div class="ui-g-11 ui-sm-6">{{car.doctorName}}</div>
                        
                        <!-- <div class="ui-g-1 ui-sm-6">时间: </div> -->
                        <div class="ui-g-11 ui-sm-6">{{car.startTime}}</div>
                        
                        <!-- <div class="ui-g-1 ui-sm-6">直播状态: </div> -->
                        <div *ngIf="car.status==0" class="ui-g-11 ui-sm-6">报名中</div>
                        <div *ngIf="car.status==1" class="ui-g-11 ui-sm-6">正在直播</div>
                        <div *ngIf="car.status==2" class="ui-g-11 ui-sm-6">直播结束</div>
                        
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataList>

<p-dialog header="直播详细"  *ngIf="display" [(visible)]="display" modal="modal" width="800" [responsive]="true" [positionTop]="'60'">
  <div style="height:400px">
    <div class="dialog-item" >  
        <div class="ui-g">
            <div class="ui-g-12">
                <input id="title-input" type="text"  size="30" pInputText [(ngModel)]="liveinfo.title"> 
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">{{liveinfo.status}}</div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">{{liveinfo.startTime}}</div>
        </div>
    </div>

  <div class="dialog-item" >  
    <div class="ui-g">
        <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12">
                <h3>直播简介</h3>
            </div>
            <div class="ui-g-12">
                <p>主讲人:{{liveinfo.doctorName}}</p>

            </div>
            <div class="ui-g-12">
                <h3>直播概要</h3>
            </div>
        </div>
        <!-- <div class="ui-g-1">
            <img (click)="editliveinfo($event,'content-textarea')" style="width:30px"src="assets/img/editbutton.jpg">
        </div> -->
    </div>
    <div class="ui-g">
        <div class="ui-g-12">
                <textarea id="content-textarea" [(ngModel)]="liveinfo.comment" rows="8" cols="88" pInputTextarea autoResize="autoResize">
                </textarea>
        </div>
    </div>
    <div class="ui-g part">
      <div class="ui-g-12">
        <h3>报名人数：（{{liveinfo.liveCount}}）</h3> 
      </div>  
    </div>
  </div>
  
  <div class="dialog-item">
      <div class="ui-g">
          <div class="ui-g-12">
              <h3>课件
                <span>（编辑课件后记得点击上传课件）</span>
              </h3>
          </div>
          <div  *ngFor="let pic of piclist ; let i=index" class="ui-g-2 ui-md-6 ui-lg-2 dialog-item-pic"  >
                <span class="pic">
                <img style="width:100px" (click)="previewimg($event)" [src]="pic">
                    <button class="del "pButton type="button" (click)="delpic($event,i)" icon="fa-close"></button>
                </span>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-2 dialog-item-pic"  >
              <img onclick="getElementById('file').click()" style="width:100px" title="点击添加图片" alt="点击添加图片" src="assets/img/uploadpic.jpg">
              <input (change)="imgOperate($event)" type="file" multiple="multiple" id="file" name='file' style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;"/>
          </div>
      </div>
      <div class="ui-g">
          <button class="upficbtn" (click)="uploadlivepiclist(liveinfo.liveId)" pButton type="button" label ="上传课件"></button>
      </div>
  </div>

</div>
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="update(liveinfo)" label="确认"></button>
    <button type="button" pButton icon="fa-close" (click)="close()" label="关闭"></button>
  </p-footer>
</p-dialog>