.myImg{
    height: 180px;
    width: 180px;
}
.content{
    /* height: 1000px; */
    overflow-y: auto;
    /* border: 1px solid black; */
    width: 94%;
    margin-left: 3%;
}
.liveitem{
    /* border: 1px solid #46b587; */
    position: relative;
    border-radius: 3px;
    height:220px;
    margin-top: 6px;
    margin-bottom: 6px;
    border: 1px solid #bbbbbb;
    /* border-right: 1px solid #46b587; */
    /* background-color: #aaa; */
}

.liveitem h3{
    /* border:1px solid red; */
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 1px;
    margin: 2px;
}
.liveitem p{
    color: #2399e5;
    padding: 1px;
    margin: 4px 2px 2px 4px;
}

.liveitem h5{
    padding: 1px;
    margin: 4px 2px 2px 4px;
}
.liveitem .introduce{
    position: absolute;
    height: 40%;
    width: 90%;
     /* border:1px solid red; */
     overflow: hidden;
     text-overflow: ellipsis;
     /* 单行超出省略号方式 */
     /* white-space: nowrap; */
     padding: 1px;
     margin: 2px ;
}
.liveitem button{
    width: 94%;
    left:3%;
    position: absolute;
    bottom: 0px;
}
.liveitem .content{
    /* border:1px solid; */
    height:40%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 8px 2px 2px 2px;
}

.dialog-item{
    border: 1px solid blanchedalmond;
    padding: 2px;
    margin: 10px 2px 2px 2px;
    position: relative;
}
#title-input{
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
    font-size: 16px;
    font-weight: bold;
    height: 26px;
}
#title-input:hover{
    /* -webkit-box-shadow:0 0 4px #2bc0ec;  */
   
}

.hightlight{
    -webkit-box-shadow:0 0 2px #2bc0ec; 
}

#content-textarea:hover{
    /* -webkit-box-shadow:0 0 4px #2bc0ec;  */
}

.part{
    border-top: 1px solid burlywood;
}

.dialog-item-pic{
    /* border:1px solid black; */
    padding: 2px;
    margin: 2px;
    text-align: center;
    /* position: relative; */
}
.upficbtn{
    width: 100%;
    bottom: 0px;
}
.pic{
    /* position: absolute; */
    width: 100%;
    height: 100%;
}
/* .pic:hover{
    transition: opacity .3s;
    background-color:#000;
    filter:Alpha(Opacity=60);
    opacity:0.6;
} */

.big{
border: 1px solid black;
background-color: rgba(0,0,0,.5);
transition: opacity .3s;
display: none;
}

.del{
    position: absolute;
    margin-left: -2%;
    opacity: 0.6;
}