#input{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    /* margin-bottom: 20px; */
    font-size: 20px;
}

.my-tool-bar {
    /* background-color: #ebebeb; */
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  .my-tool-bar span {
    margin-right: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
  }

  .my-tool-bar span i {
    margin-right: 5px;
  }

  .toolbar {
    border: 1px solid #ccc;
    /* display: block; */
}
.editorcontent {
    border: 1px solid #ccc;
    /* min-height: 400px; */
    height: 500px;
    /* margin-bottom: 20px; */
}

.content{
    /* height: 1000px; */
    overflow-y: auto;
    /* border: 1px solid black; */
    width: 94%;
    margin-left: 3%;
}
.content-right{
    border:1px solid #ddd;
    height:500px;
    overflow: scroll;
}
.footer{
    margin-bottom: 20px;
    /* text-align: center; */
    margin-top: 10px;
}
.footer .save{
    background-color: #4f75b6;
    width: 100px;
    float: right;
    margin-right: 20px;
}
.footer .publish{
    background-color: #4f75b6;
    width: 100px;
    float: right;
}
.tag{
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 10px 0px 10px 0px;
    border-top: 1px solid #ddd;
}
.tag li{
    font-size: 14px;
    border-radius: 10px;
    color: #fff;
    border: 1px solid #4f76b6;
    background-color: #788eb1;
    padding: 2px 10px;
    /* margin-right: 10px; */
    margin-bottom: 3px;
    /* white-space: nowrap; */
    display: inline-block;
}
.taglist{
    /* background-color: rgb(145, 187, 206); */
    border: 1px solid #ddd;
    width: 65%;
    position: relative;
    color: #494949;
    margin-bottom:20px
}
.taglist li:hover{
    background-color: #ccc
}
.taglist li{
 line-height: 20px;
    /* background-color: #ccc */
}

/**预览页面**/
div.preview-layer{
	display: none;
	position: absolute;
    top:0px;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: -webkit-center;

}
.preview-layer .close{
    z-index: 9999;
    position: relative;
    float: right;
    background-color:#fff;
    margin-right: 5px;
    
}

div.preview-layer .preview-bg{
	position: fixed;
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	z-index:999; 	
	background-color:#000; 
    opacity:0.7; 
    float: right; 
}

div.preview-layer .preview-phone{
	position: relative;
	width: 410px;
	height: 840px;
	background: url(/assets/img/iphone-bg.png) no-repeat no-repeat;
	z-index: 9999;
}

#preview-html{
	position: absolute;
	width:361px;
	height: 638px;
	top:98px;
	left:24px;
	border: 2px solid #000;
	border-radius: 5px;
	outline: none;
	background-color: #fff;
}


@media screen and (max-width: 767px){
    .dailyItem {
        font-size: 21px;
    } 
}